body {
    font: 20px "Century Gothic", Futura, sans-serif;
    margin: 100px;
  }
  
  ol, ul {
    padding-left: 30px;
    
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
    
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(120, 232, 240);
    border: 1px solid rgb(162, 180, 243);
    float: left;
    font-size: 35px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
    height: 50px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: rgb(255, 255, 255);
  }
  
  .game {
    display: flex;
    flex-direction: row;
    
   
  }
  
  .game-info {
    margin-left: 20px;
  }
  